#header {
	background-color: #407acc;
	background-image: url('tour-pg1.gif');
	background-repeat: no-repeat;
	background-position: center right;
	color: white;
	font-family: verdana;
	padding: 20px;
	text-align: center;
	
	border-width: 20px;
	border-radius: 2em 2em 0em 0em;
	

}